name: Build Bedrock Shader

on:
  push:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '11'

    - name: Install C++ Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential libgl1-mesa-dev

    - name: Build BGFX Shaderc
      run: |
        mkdir bgfx-build
        cd bgfx-build
        git clone --depth 1 https://github.com/bkaradzic/bx.git
        git clone --depth 1 https://github.com/bkaradzic/bimg.git
        git clone --depth 1 https://github.com/bkaradzic/bgfx.git
        cd bgfx
        ../bx/tools/bin/linux/genie --with-tools --gcc=linux-gcc gmake
        cd .build/projects/gmake-linux-gcc
        make shaderc config=release64
        cp ../../../.build/linux64_gcc/bin/shadercRelease ../../../../shaderc
        chmod +x ../../../../shaderc
        cd ../../../..

    - name: Build MaterialBinTool
      run: |
        git clone https://github.com/ddf8196/MaterialBinTool.git mbt_repo
        cd mbt_repo
        chmod +x gradlew
        ./gradlew shadowJar -x test
        find build/libs -name "MaterialBinTool-*-all.jar" -exec cp {} ../mbt.jar \;

    - name: Download Includes
      run: |
        mkdir include
        wget https://raw.githubusercontent.com/bkaradzic/bgfx/master/src/bgfx_shader.sh -O include/bgfx_shader.sh
        wget https://raw.githubusercontent.com/bkaradzic/bgfx/master/src/bgfx_compute.sh -O include/bgfx_compute.sh
        wget https://raw.githubusercontent.com/bkaradzic/bgfx/master/src/shader.sh -O include/shader.sh

    - name: Compile Shader
      run: |
        java -jar mbt.jar -c \
          -i src/material.json \
          -o material.bin \
          --shaderc ./shaderc \
          --include include/

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: material-bin
        path: material.bin
