name: Build Java Shader

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        # Ставим Java 11, так как Gradle 6.7 не работает с Java 21
        java-version: '11'

    - name: Build MaterialBinTool (Java)
      run: |
        git clone https://github.com/ddf8196/MaterialBinTool.git mbt_repo
        cd mbt_repo
        chmod +x gradlew
        # Собираем JAR
        ./gradlew shadowJar -x test
        # Копируем результат
        find build/libs -name "MaterialBinTool-*-all.jar" -exec cp {} ../mbt.jar \;

    - name: Download Compiler & Includes
      run: |
        # Скачиваем linux-версию компилятора shaderc
        wget https://github.com/hatchibombotar/MaterialBinTool/raw/master/shaderc -O shaderc
        chmod +x shaderc

        # Скачиваем необходимые библиотеки
        mkdir include
        wget https://raw.githubusercontent.com/bkaradzic/bgfx/master/src/bgfx_shader.sh -O include/bgfx_shader.sh
        wget https://raw.githubusercontent.com/bkaradzic/bgfx/master/src/bgfx_compute.sh -O include/bgfx_compute.sh
        wget https://raw.githubusercontent.com/bkaradzic/bgfx/master/src/shader.sh -O include/shader.sh

    - name: Compile Shader
      run: |
        # Запускаем сборку
        java -jar mbt.jar -c \
          -i src/material.json \
          -o material.bin \
          --shaderc ./shaderc \
          --include include/

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: material-bin
        path: material.bin
